* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(77, 76, 76, 0.968);
    letter-spacing: 0.6px;
}
.container {
    width: 62%;
    display: flex;
    gap: 50px;
    margin: 0 auto;
}
h1 {
    font-size: 32px;
    text-align: center;
    color: #f1faee;
    margin: 2rem 0 4rem;
}
label{
    font-size: 22px;
    font-weight: 600;
    color: #83c5be;
    margin-bottom: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
textarea{
    font-size: 14px;
    font-weight: 600;
    outline: none;
    color: #1b263b;
}
button{
    width: 20%;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #8ecae6;
    color: #003049;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
}
#posts {
    width: 400px;
}
span i {
    cursor: pointer;
}
#msg {
    font-weight: 600;
    color: #e63946;
}
#form div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
#posts div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}
.right h3{
    font-size: 22px;
    font-weight: 600;
    color: #d07d7d;
    margin-bottom: 20px;
}
.options {
    display: flex;
    gap: 12px;
}
#posts p{
    font-size: 18px;
    font-weight: 600;
    color: #ade8f4;
    margin-bottom: 10px;
}
span i, span i::before{
    font-size: 18px;
    color: #adb5bd;
}